<!Doctype html>
<html>
  <head>
    <meta content="text/html"; charset="utf-8" http-equiv="content-type" />
  </head>
  <body>
    <h1>Hey, <%= @passenger.name %></h1>
    <p>there was a flight booked for you!</p>
    <p>From <%= @from.name -%> to <%= @to.name -%> on <%= @flight.date %></p>
  </body>
</html>
